body{
text-align:center;
    padding-top: 700px;
    
}

img{
width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
    
}

#welcome{
position: absolute;
    overflow: hidden;
    height: 600px;
    color;#ffffff;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    opacity:0.83;
    background: linear-gradient(#3bbdd1,#13d49d);
    
    
    
}
#line1{
font-family:monospace;
    font-size: 30px;
    font-weight: 300;
    
}

#bio{
padding:50px;
    text-align: center;
    font-size: 20px;
    font-family: fantasy;
    
    
    
}
#line2{
font-family: monospace;
    font-size: 30px;
    
    
}
